# --- Team Shared Settings ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Node / npm
node_modules/
frontend/.npm-cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# --- Backend Specific (Important!) ---
# Firebase Secret Key (Do not upload!)
backend/serviceAccountKey.json
serviceAccountKey.json

# --- Editor Specific ---
.vscode/
.idea/
.DS_Store
